.containerBig {
  margin-left: 20px;
}

.posterBig {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

.imax {
  padding: 3px 6px;
  background-color: rgb(253, 199, 76);
  color: black;
  font-size: 10px;
  border-radius: 3px;
}
.flexdes {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: white;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

.genre {
  color: grey;
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
}

.imgcon {
  position: relative;
}

.star {
  margin: 4px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.rate {
  margin-left: 3px;
  font-size: 12px;
}
