p {
  padding: 0;
  margin: 0;
}

.containerTop {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.containerbot {
  padding: 10px 0;
}

#movies {
  padding: 15px 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.titlecon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeall {
  color: rgb(253, 199, 76);
  font-size: 14px;
}

#title {
  color: white;
  font-size: 22px;
}

#genre {
  color: grey;
  font-size: 12px;

  margin-top: 5px;
}
